<!doctype html>
<title>Aphorismr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="static/css/bootstrap.min.js"></script>

<h1>Aphorismr</h1>
<p>いつも心に名言を</p>

<h1>How to Use</h1>                                                                             
<ol>
  <li>めいげんを　いれる</li>
  <li>いったひとの　なまえ　かく</li>
  <li>ぼたん　おす</li>
  <li><a href="http://nikezono.net">ここ</a>に　のる</li>
</ol>


{% block body %}
{% endblock %}
