{% extends "layout.html" %}
{% block body %}

<form action= "{{ url_for('add_entry') }}" method=post class=add-entry>
<dl>
<dt><h2>ことば:</h2>
<dd><textarea rows=2 cols=50  name=text></textarea>
<dt><h2>だれの:</h2>
<dd><input type=text name =author size=30>
<dt><h2>なんについて</h2>
<dd><input type=text name=category size=10>
<dd><input type=submit value=Submit>
</dl>
</form>
<ul class=entries>
{% for entry in entries %}
<h3><em>{{entry.text}}</em></h3>
<p>{{entry.category}}について、 <b>{{entry.author}}</b> のことば</p>
<form action = "{{ url_for('delete_entry', text=entry.text,author=entry.author)}}" method=post align=right>
<input type=submit Value=Delete >
</form>
{% else %}
<li><em>No entries here so far</em>
{% endfor %}
</ul>
{% endblock %}

